body {
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 "Hind Madurai", sans-serif;
  background-color: #eaf2d7;
}

nav {
  background-color: #2b2d42;
  padding: 0.5em;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.5em;
}
nav a:hover {
  text-emphasis: circle;
}

.logo {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.grid {
  margin: 0 auto;
  /* max-width: 980px; */
  display: grid;
  place-items: center;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
}

#intro {
  text-align: center;
}

.banner img {
  max-width: 110%;
  max-height: 110%;
  padding-left: 0vw;
}

.intro {
  text-align: center;
}

/* Basic button styles */
label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2b2d42;
  color: #fff;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

label:hover {
  background-color: #eaf2d7;
  border-color: #eaf2d7; 
  color: #2b2d42;
}

footer {
  text-align: center;
  background-color: #2b2d42;
  color: white;
  padding: 1vw;
  margin-top: 1vw;
}

#events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 400px) {
  img,
  ul.nav {
    display: grid;
    grid-template-columns: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
}
